*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
}

#site_sidebar{
    width: 220px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#site_content{
    width: calc(100vw - 220px);
    height: calc(100vh - 90px);
}
#site_footer{
    width: 100vw;
    height: 90px;
}


/* #region sidebar */


/* #endregion sidebar */

/* #region utilities */

.debug {
    background-color: aquamarine;
    border: 2px dashed brown ;
}
.debug_2{
    background-color: green;
    border: 2px dashed blue ;
    height: 100px;
}

/* #region space */

.mrg_1 {
    margin: 1rem;
}

/* #endregion space */


.flex {
    display: flex;
}
.flex_col {
    flex-direction: column;
}
.jst_btw {
    justify-content: space-between;
}
/* .jst_str{
    justify-content: start;
}
.jst_end{
    justify-content: end;
} */

/* #endregion utilities */