*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.site_main {
    max-width: 1920px;
    width: 1920px;
    height: 100vh;
    margin: 0 auto;
}
.footer {
    background-color: var(--spfy-foot-lightdark);
    height: 90px;
}
.top{
    height: calc(100vh - 90px);
    display: flex;
}
.sidebar {
    background-color: var(--spfy-side-black);
    width: 230px;
    height: 100%;
}
.container_main {
    width: calc(1920px - 230px);
    height: 100%;
}
.upgrade {
    background-color: var(--spfy-upgr-lightblack);
    height: 50px;
}
.container {
    background-color: var(--spfy-primary-dark);
    height: calc(100vh - 140px);
    padding: 0 2rem;
    overflow-y: auto;
}
.container > h2 {
    color: var(--spfy-txt-white);
    font-size: 50px;
    margin: 3rem 0 2rem;
}
.container > p {
    color: var(--spfy-txt-secondary-lightgray);
    font-size: 30px;
    margin: -1rem 0 2rem;
}
.menu_top > a {
    text-decoration: none;
    color: var(--spfy-txt-secondary-lightgray);
    padding: 0 0.5rem;
}

.hr_spec {
    background-color: var(--spfy--success-greenlime);
    width: 40%;
    padding: 1px 0;
    margin: 0.2rem auto;
    border-radius: 30px;
}
.category {
    display: flex;
    flex-wrap: wrap;
}
.col {
    width: calc(100% / 12 * 2);
    padding: 0 0.5rem;
}
.card {
    height: 100%;
    text-align: center;
}
.card > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.card > h4 {
    color: var(--spfy-txt-white);
    font-size: 30px;
    padding: 1rem 0;
}
.card > p {
    color: var(--spfy-txt-secondary-lightgray);
    font-size: 20px;
}





:root {
    --spfy-side-black: #000000;
    --spfy-upgr-lightblack : #080b12;
    --spfy-primary-dark: #141922;
    --spfy-foot-lightdark: #282828;
    --spfy-txt-white: #ffffff;
    --spfy-txt-secondary-lightgray: #a3a3a3;
    --spfy--success-greenlime: #adff2f;
}


.pady-2 {
    padding: 2rem 0;
}
.pady-5 {
    padding: 0 0 5rem;
}
.radius_50 {
    border-radius: 50%;
}

.flex_jst_ctr {
    display: flex;
    justify-content: center;
}
.align_ctr{
    align-items: center;
}
