*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.site_main {
    max-width: 1920px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
.footer {
    background-color: var(--spfy-foot-lightdark);
    height: 90px;
}
.top{
    height: calc(100vh - 90px);
    display: flex;
}
.sidebar {
    background-color: var(--spfy-side-black);
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}
.sidebar a {
    color: var(--spfy-txt-secondary-lightgray);
    text-decoration: none;
}
.logo {
    padding: 1rem 2rem 1rem 0;
}
.container_main {
    width: calc(1920px - 230px);
    height: 100%;
}
.row_side_top > .card {
    color: var(--spfy-txt-secondary-lightgray);
    font-size: 40px;
}
.row_side_top a:hover {
    color: var(--spfy-txt-white);

}
.row_side_bottom a:hover {
    color: var(--spfy-txt-white);

}
.row_side_top .card img, .row_side_bottom .card img {
    width: 30px;
}
.footer .col-4 img {
    width: 50px;
}
.fa-plus {
    background-color: var(--spfy-txt-secondary-lightgray);
    color: var(--spfy-side-black);
    font-size: 20px;
    padding: 0.5rem;
    margin: 0 0.5rem 0 0;
}
.col-4 {
    width: calc(100% /12 * 4);
    margin: 0.3rem;
}

.col-12 {
    height: 150px;
    overflow: auto;
}
.col-12 > ul > li{
    padding: 1rem 0;
    height: 10px;
}
.upgrade {
    background-color: var(--spfy-upgr-lightblack);
    height: 90px;
    position: relative;
}
.upgrade > input:hover {
    animation: grow 500ms;
}
@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
.container {
    background-color: var(--spfy-primary-dark);
    height: calc(100vh - 180px);
    padding: 0 2rem;
    overflow-y: auto;
}
.container > h2 {
    color: var(--spfy-txt-white);
    font-size: 50px;
    margin: 3rem 0 2rem;
}
.container > p {
    color: var(--spfy-txt-secondary-lightgray);
    font-size: 30px;
    margin: -1rem 0 2rem;
}
.menu_top > a {
    text-decoration: none;
    color: var(--spfy-txt-secondary-lightgray);
    padding: 0 0.5rem;
}
.menu_top > a:hover {
    color: var(--spfy-txt-white);
}
.category {
    display: flex;
    flex-wrap: wrap;
}
.col {
    width: calc(100% / 12 * 2);
    padding: 0 0.5rem;
}
.col-4 {
    width: calc(100% /12 * 4);
}
.card {
    height: 100%;
    text-align: center;
}
.card_foot{
    height: 100%;
}
.card_foot > i:hover, p:hover {
    color: var(--spfy-txt-white);
}

.card > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card > h4 {
    color: var(--spfy-txt-white);
    font-size: 30px;
    padding: 1rem 0;
}
.card > p {
    color: var(--spfy-txt-secondary-lightgray);
    font-size: 20px;
}
.minicard {
    width: 100%;
}
.hr_spec {
    background-color: var(--spfy--success-greenlime);
    width: 40%;
    padding: 1px 0;
    margin: 0.2rem auto;
    border-radius: 30px;
}
.hr_1 {
    width: 100%;
    background-color: var(--spfy-txt-secondary-lightgray);
    padding: 1px 0%;
    position: absolute;
    top: 8px;
    left: 0;
}
.hr_2 {
    background-color: var(--spfy-txt-white);
    width: 40%;
    padding: 1px 0;
    margin: 0.2rem auto;
    border-radius: 30px;
    position: absolute;
    top: 5px;
    left: 0;
}
.hr_2:hover {
    background-color: var(--spfy--success-greenlime);
}
.hr_3 {
    width: 60%;
    background-color: var(--spfy-txt-secondary-lightgray);
    padding: 1px 0%;
    position: absolute;
    top: 8px;
    left: 0;
}
.hr_4 {
    background-color: var(--spfy-txt-white);
    width: 20%;
    padding: 1px 0;
    margin: 0.2rem auto;
    border-radius: 30px;
    position: absolute;
    top: 5px;
    left: 0;
}
.hr_4:hover {
    background-color: var(--spfy--success-greenlime);
}
.hr_point_1{
    width: 1px;
    height: 1px;
    padding: 0.3rem;
    border-radius: 50%;
    position: absolute;
    top: 4.5px;
    left: 3%;
}
.hr_point_1:hover {
    background-color: var(--spfy-txt-white);
}
.hr_point_2{
    background-color: var(--spfy-txt-white);
    width: 1px;
    height: 1px;
    padding: 0.3rem;
    border-radius: 50%;
    position: absolute;
    top: 4.3px;
    left: 19%;
}

.vol{
    width: 100%;
    position: relative;
    margin: 0 0.5rem;
}



:root {
    --spfy-side-black: #000000;
    --spfy-upgr-lightblack : #080b12;
    --spfy-primary-dark: #141922;
    --spfy-foot-lightdark: #282828;
    --spfy-txt-white: #ffffff;
    --spfy-txt-secondary-lightgray: #a3a3a3;
    --spfy--success-greenlime: #adff2f;
}
.txt_lght_gray {
    color: var(--spfy-txt-secondary-lightgray);
}
.txt_wht {
    color: var(--spfy-txt-white);
}
.txt_decor {
    text-decoration: none;
}
.list_style_none{
    list-style: none;
}
.btn {
    background-color: var(--spfy-upgr-lightblack);
    color: var(--spfy-txt-white);
    border: 1px solid var(--spfy-txt-white);
    padding: 0.5rem 2rem;
    margin: 2rem 0.5rem;
    position: absolute;
    right: 1rem;
    top: 0;
}
.icon_special {
    background-color: var(--spfy-txt-secondary-lightgray);
    color: var(--spfy-txt-white);
    padding: 0.2rem;
    border-radius: 50%;
}
.pady-1 {
    padding: 1rem 0;
}
.pady-2 {
    padding: 2rem 0;
}
.pady-5 {
    padding: 0 0 5rem;
}
.padx_05 {
    padding: 0 0.5rem;
}
.padx_1 {
    padding: 0 1rem;
}
.padx_2 {
    padding: 0 2rem;
}
.radius_50 {
    border-radius: 50%;
}
.around_30 {
    border-radius: 30px;
}
.flex{
    display: flex;
}
.flex_jst_ctr {
    display: flex;
    justify-content: center;
}
.jst_btw {
    justify-content: space-between;
}
.flex_col {
    flex-direction: column;
}
.align_ctr{
    align-items: center;
}
.jst_end{
    justify-content: end;
}

@media screen and (max-width: 1100px) {
    .site_main {
        max-width: 1100px;
        width: 1100px;
    }
    .container_main {
        width: calc(1100px - 230px);
    }
    .col-3-md {
        width: calc(100% / 12 * 3);
    }
    .sidebar {
        background-color: red; }
}
